@model ClassLibrary.Performer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удаление исполнителя</title>
</head>
<body>
    <div>
        
        Информация удалена

    </div>
</body>
</html>
