@model ClassLibrary.Project

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveEdit</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
